body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: 'Courier New', Courier, monospace;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #BDC4A7;
    color: #2F2F2F;
    border-bottom: 6px solid #92B4A7;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-radius {
    border-radius: 20px;
}

h3:hover {
    color: #216869; /* Change text color */
    transition: color 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.3); /* Stronger shadow */
    transform: scale(1.05); /* Slightly increase size */
    transition: all 0.3s ease-in-out;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/
